<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>

<ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </li>
</ul>

<h1>
    Users
</h1>
<table>
    <tr>
        <th> Id</th>
        <th> Username</th>
        <th> Name</th>
        <th> Age</th>
        <th> Password</th>
        <th> Update User</th>
        <th> Delete User</th>
    </tr>
    <tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td>
            <button><a th:href="@{/admin/edit/{id}(id=${user.getId()})}">Update</a></button>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/delete/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
</table>
<h4>Add User :</h4>
<a href="/admin/new">CREATE NEW USER</a>
</body>
</html>